<!-- views/partials/navbar.handlebars -->
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="nav-header">
			<a class="navbar-brand" href="/">
				Reddit
			</a>
			<a href="/posts/new" class="btn btn-default navbar-btn">New Post</a>
		<div class="pull-right">
			<a href="/reviews/new" class="btn btn-default navbar-btn">Sign In</a>
		</div>
		</div>
	</div>
</nav>