<!-- views/partials/navbar.handlebars -->
<nav class="navbar navbar-color">
  <a class="navbar-brand navbar-text" href="/">
    <img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Career Search
  </a>
</nav>