<!-- views/partials/navbar.handlebars -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Career Search
  </a>
</nav>