<!-- <table>
    <tr>
        <td>2016 Median Pay</td>
        <td>$159,770 per year $76.81 per hour</td>
    </tr>
    <tr>
        <td>Typical Entry-Level Education</td>
        <td>Doctoral or professional degree</td>
    </tr>
    <tr>
        <td>Work Experience in a Related Occupation</td>
        <td>None</td>
    </tr>
    <tr>
        <td>On-the-job Training</td>
        <td>See How to Become one</td>
    </tr>
    <tr>
        <td>Number of Jobs, 2016</td>
        <td>153,500</td>
    </tr>
    <tr>
        <td>Job Outlook, 2016-26</td>
        <td>19% (Much faster than average)</td>
    </tr>
    <tr>
        <td>Employment Change, 2016-26</td>
        <td>29,300</td>
    </tr>
</table> -->
<div class="slideshow-container">
<div class="mySlides">
	<!-- HOLDS THE TEXT AND INFO -->
	<div class="text-container">
		<!-- HEADER OF THE TEXT -->
		<div class="text-container-header">
			<h4>STEP ONE</h4>
		</div>
		<!-- IMAGE -->
		<div class="career-image">
			<img src="smiley.gif" height="100" width="100">
		</div>
		<!-- TEXT PARAGRAPHS -->
		<div class="text-container-paragraph">
			<div class="small">
				<p class="text-expand-min">Randomness is most often used in statistics to signify well-defined statistical properties. Monte Carlo methods, which rely on random input (such as from random number generators or pseudorandom number generators), are important techniques in science, as, for instance, in computational science.[2] By analogy, quasi-Monte Carlo methods use quasirandom number generators.
				LS:KDJNFL:THL:KDS</p>
			</div>
		</div>
	</div>
</div>

<div class="mySlides">
	<!-- HOLDS THE TEXT AND INFO -->
	<div class="text-container">
		<!-- HEADER OF THE TEXT -->
		<div class="text-container-header">
			<h4>STEP TWO</h4>
		</div>
		<!-- IMAGE -->
		<div class="career-image">
			<img src="smiley.gif" height="100" width="100">
		</div>
		<!-- TEXT PARAGRAPHS -->
		<div class="text-container-paragraph">
			<div class="small">
				<p class="text-expand-min">Randomness is most often used in statistics to signify well-defined statistical properties. Monte Carlo methods, which rely on random input (such as from random number generators or pseudorandom number generators), are important techniques in science, as, for instance, in computational science.[2] By analogy, quasi-Monte Carlo methods use quasirandom number generators.
				LS:KDJNFL:THL:KDS</p>
			</div>
		</div>
	</div>
</div>

<div class="mySlides">
	<!-- HOLDS THE TEXT AND INFO -->
	<div class="text-container">
		<!-- HEADER OF THE TEXT -->
		<div class="text-container-header">
			<h4>STEP THREE</h4>
		</div>
		<!-- IMAGE -->
		<div class="career-image">
			<img src="smiley.gif" height="100" width="100">
		</div>
		<!-- TEXT PARAGRAPHS -->
		<div class="text-container-paragraph">
			<div class="small">
				<p class="text-expand-min">Randomness is most often used in statistics to signify well-defined statistical properties. Monte Carlo methods, which rely on random input (such as from random number generators or pseudorandom number generators), are important techniques in science, as, for instance, in computational science.[2] By analogy, quasi-Monte Carlo methods use quasirandom number generators.
				LS:KDJNFL:THL:KDS</p>
			</div>
		</div>
	</div>
</div>

<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>

<div class="myPanel duties-container">
	<div class="panelHeader duties-container-header">
		<h4>What They Do</h4>
	</div>
	<div class="panelContent">
		<!-- IMAGE -->
		<div class="career-image">
			<img src="smiley.gif" height="100" width="100">
		</div>
		<ul class="list duties-list">
			<li>Examine financial statements to ensure that they are accurate and comply with laws and regulations</li>
			<li>Compute taxes owed, prepare tax returns, and ensure that taxes are paid properly and on time</li>
			<li>Inspect account books and accounting systems for efficiency and use of accepted accounting procedures</li>
			<li>Organize and maintain financial records</li>
			<li>Assess financial operations and make best-practices recommendations to management</li>
			<li>Suggest ways to reduce costs, enhance revenues, and improve profits</li>
		</ul>
	</div>
</div>

<div class="myPanel duties-container">
	<div class="panelHeader duties-container-header">
		<h4>Skills</h4>
	</div>
	<div class="panelContent">
		<!-- IMAGE -->
		<h5>Skills you might need: </h5>
		<ul class="list duties-list">
			<li>Analytical skills. Accountants and auditors must be able to identify issues in documentation and suggest solutions. For example, public accountants use analytical skills in their work to minimize tax liability, and internal auditors use these skills to detect fraudulent use of funds.</li>
			<li>Communication skills. Accountants and auditors must be able to listen carefully to facts and concerns from clients, managers, and others. They must also be able to discuss the results of their work in both meetings and written reports.</li>

			<li>Detail oriented. Accountants and auditors must pay attention to detail when compiling and examining documentation.</li>

			<li>Math skills. Accountants and auditors must be able to analyze, compare, and interpret facts and figures, although complex math skills are not necessary.</li>

			<li>Organizational skills. Strong organizational skills are important for accountants and auditors, who often work with a range of financial documents for a variety of clients.</li>
		</ul>
	</div>
</div>
<script type="text/javascript" src="/js/career-info-script.js"></script>


