<!-- THE CONTAINER FOR THE CAREER BOX -->
{{#each row}}
	<div class="row">
		{{#each careers}}
			<!-- HOLDS THE TEXT AND INFO -->
			<div class="text-holder">
				<!-- HEADER OF THE TEXT -->
				<div class="text-career-header">
					<h3>SURGEON</h3>
				</div>
				<!-- IMAGE -->
				<div class="career-image">
					<img src="smiley.gif" height="100" width="100">
				</div>
				<!-- TEXT PARAGRAPHS -->
				<div class="text-paragraph">
					<div class="small">
						<p class="text-expand-min">Randomness is most often used in statistics to signify well-defined statistical properties. Monte Carlo methods, which rely on random input (such as from random number generators or pseudorandom number generators), are important techniques in science, as, for instance, in computational science.[2] By analogy, quasi-Monte Carlo methods use quasirandom number generators.
						LS:KDJNFL:THL:KDS</p>
					</div>
				</div>
				<!-- THE READ MORE BUTTON -->
				<div class="text-read-more">
					<p><a class="read-more button button1" href="career-info.html">Read More</a></p>
				</div>
			</div>
		{{/each}}
	</div>
{{/each}}