<!-- views/partials/navbar.handlebars -->
{{#each msg}}
	<!-- CATEGORY HOLDER -->
	<div class="category-holder">
		<!-- HEADER -->
		<div class="info-heading">
			<h2><a href="html/jobs.html">{{this}}</a></h2>
		</div>
		<!-- PARAGRAPH -->
		<div class="info-text">
			<p> Medical? Well what is the medical field? I don't know that's why I am asking you. Yes you, the user. There is for me to say but I got lazy and decided to fill this area with dummy text. Speaking of dummy text what is dummy text? Is it dumb? How can text be dumb? Am I dumb?</p>
		</div>
		<!-- IMAGE -->
		<div class="info-image">
			<a href="html/jobs.html">
				<img src="smiley.gif" height="100" width="100">
			</a>
		</div>
	</div>
{{/each}}